// Define variables for your color scheme

// For example:
$red: #B61919;
$orange: #E67E22;
$yellow: #FFC65A;
$green: #1EDD88;
$teal: #126E82;
$blue: #167FFB;
$indigo: #31326F;
$dark-storm: #3C415C;
$storm: #5C527F;
$mauve: #9B72AA;
$purple: #7952B3;
$dark-mauve: #583D72;
$gray: #40394A;
$mid-gray: #6B7AA1;
$light-gray: #F4F4F4;

// custom color scheme

$vt-purple: #AC7FDD;
$vt-purple-light:#DDCAF1;
