// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Additional retro fonts
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Monoton&family=Oleo+Script+Swash+Caps:wght@400;700&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Sonsie+One&family=Train+One&display=swap');

//Additional basic fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Define fonts for body and headers
$body-font: "Raleway";
// "Work Sans", "Helvetica", "sans-serif", "Poppins",
$headers-font: "Nunito", "Helvetica", "sans-serif", "Lobster Two",
 "Monoton", "Zen Tokyo Zoo", "Oleo Script Swash Caps",
   "train One", "Sonsie One", "Sansita Swashed";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// CSS rules for the new fonts
// font-family: 'Lobster Two', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Oleo Script Swash Caps', cursive;
// font-family: 'Sansita Swashed', cursive;
// font-family: 'Sonsie One', cursive;
// font-family: 'Train One', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;

.main-heading {
  font-family: Oleo Script Swash Caps;
}

#vinyl-header {
  color: #3C415C;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: 'Oleo Script Swash Caps';
  font-size: 4rem;
}

#album-name p {
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}
