// Specific CSS for your home-page
#home-search {
  margin-bottom: 1rem;
}

.home-text p {
  font-size: 1.5rem;
  font-family: Raleway;
  // color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#wormhole {
  font-size: 1.5rem;
}
