// Specific CSS for your home-page
#home-search {
  // width: 600px;
  margin-bottom: 26px;
}

.home-text p {
  font-size: 32px;
  font-family: Raleway;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#wormhole {
  font-size: 26px;
}
