<div class="footer">
  <div class="flex-container">
    <div id="footer-info">
      <h1 style="color: #5C527F; font-family: Oleo Script Swash Caps; font-size: 3.5rem">Vinyl Tracer</h1>
    </div>

    <div id="footer-info">
      <ul style="list-style: none; margin: 0; padding: 0; text-align: right;">
        <li><a href="#">Six Degrees of Separation</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQS</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Useful links</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

  <div class="container-footer">

  </div>
<p>©️ The Vinyl Tracers 2021</p>
  </div>

</div>

