<div class="footer">





     <!-- title, copyright, icons -->
  <div class="col-9 ">


    <!-- title -->
    <div class="col-12">
      <div class="row">
        <div id=" footer-info d-flex align-items-center">
          <h1 style="color: #5C527F; font-family: Oleo Script Swash Caps; font-size: 3.5rem">Vinyl Tracer</h1>
        </div>
      </div>
    </div>


      <!-- copyright icon -->

    <div class="col-12">
      <div class="row">
        <div style="width:142px;" class="d-flex col-4 align-items-end">
          <p>©️ The Vinyl Tracers 2021</p>
        </div>


      <!-- social icons -->

        <div class="footer-links col-8 align-items-end">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>

  </div>


      <!-- About -->

  <div id="footer-info col-3 pr-4" >
    <ul style="list-style: none; text-align: right;">
      <li><a href="#">Six Degrees of Separation</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">FAQS</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Useful links</a></li>
    </ul>
  </div>


</div>

