<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=image_path('home-banner.jpg')%>');">
  <div class="container d-flex justify-content-between align-items-center h-100">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-7" style="margin-right:5%";>
        <h1>Vinyl Tracer</h1>
        <p style="margin-bottom: 15px;">Follow us down the wormhole of album connections</p>

         <%= form_tag artists_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control", id: "home-search",
            placeholder: "Search for an Artist..."

          %>
          <%= submit_tag "Search", class: "btn btn-basic w-100" %>
        <% end %>
      </div>

        <!-- info card -->

      <div class="col-4 home-card">
        <h2 style="text-align: center;"> What We're About</h2>
        <p>Search for Albums</p>
        <p>Discover new music using our unique<br>
          <strong style="color:#AC7FDD;">Six degrees of separation</strong> system</p>
        <p>Find online or with local vinyl sellers</p>
      </div>
    </div>
  </div>



</div>
