<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=image_path('home-banner.jpg')%>');">
  <div class="home-wrapper flex-wrap">

    <div id="title" class="flex">
      
      <h1 class="vinyl-header">Vinyl Tracer</h1>
      <p style="margin-bottom: 15px;">Follow us down the wormhole of album connections</p>
        <%= form_tag artists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control", id: "home-search",
          placeholder: "Search for an Artist..." %>
        <%= submit_tag "Search", class: "btn btn-basic w-100" %>
      <% end %>
    

      <div class="card-six-info my-3" >
        <%# <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Link with href
          </a>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-target
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div> %>
        
        <h2 class="glow-on-hover p-3 mb-0" style="color:#AC7FDD;" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
          What is Six Degrees of Separation?
        </h2>
        
        <div class="collapse home-text" id="collapseExample">
          <p>
            Musicians like to mingle. They collaborate, change bands, cover each others songs and share producers.
            Six degrees of separation explores these links, by suggesting six albums all linked to each other by real world events. Starting from your chosen album,
            the next suggestion could be linked by a guitarist that played in both bands, a producer that worked on both albums, or acts that performed together onstage. The possibilities are endless.
            Opening a panorama of potential links; spanning different artists, genres or points in time; our six degrees are all routed in this exciting world of interlinking unities.
          </p>
        </div>
      </div>
    </div>

    <div id="info-card">
      <div class="home-card mb-1" style="max-width: 20rem;">
        <h2 style="text-align: center;"> What We're About</h2>
        <p >Search for Albums</p>
        <p >Discover new music using our unique<br>
          <strong style="color:#AC7FDD;">Six degrees of separation</strong> system</p>
        <p>Find vinyl online or with local sellers</p>
      </div>
    </div>

  </div>
</div>
