.banner {
  background-size: cover;
  padding-top: 8%;
  text-align: center;
  // height of screen (100vh) minus heights of navbar and footer (224px)
  min-height: calc(100vh - 224px);
}

.banner h1 {
  margin: 0;
  color: $vt-purple-light;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 6rem;
  font-weight: bold;
  font-family: Oleo Script Swash Caps;
}

.banner h2 {
  font-size: 2rem;
}

.banner p {
  font-size: 1.5rem;
  font-family: Raleway;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1900px) {
  .banner {
    height: 100vh;
  }
}
