
.banner {
  background-image: asset-url("home-banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 10% 0;
  text-align: center;
  height:100vh;
}

.banner h1 {
  margin: 0;
  color: $vt-purple-light;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 6rem;
  font-weight: bold;
  font-family: Oleo Script Swash Caps;
}


.banner h2 {
  font-size:2rem;
}

@media screen and (min-width: 1900px) {
  .banner {
    height: 100vh;
  }
}


.banner p {
  font-size: 1.5rem;
  font-family: Raleway;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
