.btn-basic {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #644A7E;
  transition: background 0.3s ease;
}

.btn-basic:hover {
  background: #150E56;
  color: #F4F4F4;
}

#heart {
  color: black;
  position: absolute;
  right: 24px;
  bottom: 16px;
}

#heart:hover {
  color: $red;
}
