.btn-basic, .btn-six {
  color: white;
  padding: 10px 20px;
  padding: 8px 24px;
  background: #583D72;
}

.btn-six {
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 10px;
  font-size: 2.5rem;
  font-family: 'Oleo Script Swash Caps';
  height: 4rem;
  border: solid 1px white;
  background: linear-gradient(130deg, #DDCAF1, #AC7FDD, #301B3F);
  background-size: 600% 600%;


    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
  }

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
}

.btn-basic:hover {
  background: #150E56;
  color: #F4F4F4;
}

.btn-primary, .btn-info, .btn-basic  {
  font-size: 20px;
  border-radius: 4px;
}

#favourite {
  color: #3C415C;
  position: absolute;
  // right: 36px;
  // bottom: -12px;
  right: 44px;
  bottom: 44px;
  font-size: 1.5rem;
}

#favourite:hover {
  color: $red;
}

#favourite-red {
  color: $red;
  position: absolute;
  right: 24px;
  bottom: 16px;
  font-size: 1.5rem;
}



.glow-on-hover {
    border: none;
    outline: none;
    background: #EDF0F0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,  #7a00ff, #DDCAF1, #301B3F );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #EDF0F0;
}

.glow-on-hover:active:after {
    // background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EDF0F0;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




