.btn-basic {
  color: white;
  padding: 10px 20px;
  padding: 8px 24px;

    background: linear-gradient(130deg, #DDCAF1, #AC7FDD, #301B3F);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
  }

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}

    // transition: background 0.3s ease;
}

.btn-basic:hover {
  background: #150E56;
  color: #F4F4F4;
}

.btn-primary, .btn-info, .btn-basic  {
  font-size: 20px;
  border-radius: 4px;
}

#favourite {
  color: #3C415C;
  position: absolute;
  // right: 36px;
  // bottom: -12px;
  right: 44px;
  bottom: 44px;
  font-size: 1.5rem;
}

#favourite:hover {
  color: $red;
}

#favourite-red {
  color: $red;
  position: absolute;
  right: 24px;
  bottom: 16px;
  font-size: 1.5rem;
}
