.card-vinyl, .card-six-degrees, .card-six-degrees_container, .show-card, .home-card, .card-six-info, .card-trivia, .card-seller  {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  border : solid 2px #9B72AA;
}

.card-vinyl {
  width: 22rem;
  height: 640px;
}

.card-vinyl > img, .card-six-degrees > img {
  // height: 350px;
  width: 100%;
  object-fit: cover;
}

.card-vinyl h2, .card-album-tracks h2, .card-six-degrees h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.card-vinyl p, .card-album-tracks p, .card-trivia, .card-six-degrees p, .card-seller p {
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card-album-tracks p{
  padding: 2px 5px;
}

.card-vinyl h3, .card-album-tracks h3, .card-six-degrees h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: $dark-mauve;
  margin: 0;
  }

.card-vinyl h4, .card-album-tracks h4, .card-six-degrees h4 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.card-vinyl a, .card-album-tracks a, .card-six-degrees a {
  color: $red;
}

.card-vinyl a:hover, .card-album-tracks a:hover, .card-six-degrees a:hover{
  color: $storm;
  text-decoration: none;
}

.card-vinyl .card-vinyl-infos, .card-album-tracks, .card-six-degrees, .card-seller {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  text-align: center
}

.card-vinyl-infos{
  padding: 8px 0;
  // height:100%;
}


.home-card {
  background: none;
  // margin-top: 10vh;
  padding: 20px;
  text-align:center;
}

.card-six-info{
  background: #EDF0F0;
  margin-bottom: 40px;
}

.card-six-info p {
  font-size: 1.2rem;
  // font-weight: bold;
}

.home-card h2, .card-six-info h2{
  font-family: Oleo Script Swash Caps;
  color: $vt-purple-light;
}

.card-album-tracks {
  // width: 15rem;
  margin: 20px 0px;
  max-width: 38rem;
}

.card-six-degrees{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22rem;
  margin: 10px auto;
  padding: 12px;
}

.card-six-degrees_container{
    width: 70rem;
    flex-wrap: wrap;
}

.card-trivia {
  font-weight: normal;
}

.card-seller {
  height: 520px;
}

#seller {
  background-color: $gray;
  width: 15rem;
}

#seller > .img {
    object-fit: scale-down;
}

.card-trivia {
  width: 100%;
  padding: auto;
  margin-bottom:50px;
  font-size: 18px;
  text-align:center;
  justify-content: center;
}

