.card-vinyl, .card-six-degrees, .card-six-degrees_container, .show-card, .home-card  {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  border : solid 2px #DDCAF1;
  position: relative;
}

.card-vinyl > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-vinyl h2, .card-album-tracks h2, .card-six-degrees h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vinyl p, .card-album-tracks p, .card-six-degrees p {
  font-size: 12px;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card-vinyl h3, .card-album-tracks h3, .card-six-degrees h3 {
  font-size: 14px;
  font-weight: bold;
  color: $dark-mauve;
  margin: 0;
  }

.card-vinyl h4, .card-album-tracks h4, .card-six-degrees h4 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-vinyl a, .card-album-tracks a, .card-six-degrees a {
  color: $red;
}

.card-vinyl a:hover, .card-album-tracks a:hover, .card-six-degrees a:hover{
  color: $storm;
  text-decoration: none;
}

.card-vinyl .card-vinyl-infos, .card-album-tracks, .card-six-degrees {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  text-align: center
}

.home-card {
  background: none;
  margin-bottom: 40px;
}

.home-card h2{
  font-family: Oleo Script Swash Caps;
  color: $vt-purple-light;
}

.card-album-tracks {
  width: 15rem;
  margin: 20px 0px;
}

.card-six-degrees{
  width: 15rem;
  margin: 10px auto;

}
.card-six-degrees_container{
    width: 17rem;
}

#seller {
  background-color: $gray;
  width: 15rem;
}

#seller > .img {
    object-fit: scale-down;
}

