.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 2;
}

.container-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
