.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.container-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-box {
  max-width: 110rem;
  margin: auto;
}
