.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 0;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  p {
    color: #5c527f;
    font-family: Oleo Script Swash Caps;
    font-size: 12px;
    text-align: center;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;

  a {
    color: #150e56;
    opacity: 0.3;
    text-decoration: none;
    font-size: 32px;
    padding: 0px 10px;
  }

  a:hover {
    opacity: 1;
  }
}

#footer-info {
  padding: 1rem 1rem 0 0;

  a {
    margin-top: 24px;
    color: #150e56;
    opacity: 0.5;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px;
  }

  a:hover {
    opacity: 1;
    text-decoration: none;
  }
}
