.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  //border : solid 2px #9B72AA;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-content h2 {
  font-family: 'Oleo Script Swash Caps';
}

.mapboxgl-popup-content p {
  font-family: 'Oleo Script Swash Caps';
  font-size: 17px;
  margin-bottom: 5px;
}

.mapboxgl-canvas {
  border : solid 2px #9B72AA;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
